.aiga-title{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.aiga-sub-title{
  margin: 2rem auto;
  width: 50vw;
}

.aiga-sub-title h1{
  font-family: "Roboto Slab", serif;
  font-size: 20vw;
  margin: 0;
  line-height: 15vw;
}

.aiga-sub-title h2{
  margin: 0;
  font-weight: 400;
  font-size: 3.1vw;
  line-height: 5vw;
}

.next-meeting{
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.day-time h1{
  font-size: 3vw;
  font-style: italic;
  font-weight: 300;
  margin-top: .5rem;
}

.day-time h2{
  font-size: 2vw;
  color: #ff6666;
  margin-bottom: .5rem;
}
